<% provide(:body_class, "index-page") %>

<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brand">
            <h1>Captain Challenge</h1>
            <h3>Create your own characters and confront them in the arena.</h3>
            <h3>Let's fight !</h3>
          </div>
        </div>
      </div> <!-- /row -->

    </div><!-- /container -->
  </div><!-- /header -->

  <div class="main main-raised">
    <div class="section section-basic">
      <div class="section section-download">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
              <h2>Characters</h2>
              <h4>Manage your characters, and create new ones ! </h4>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
              <%= link_to "Characters", characters_path, class: "btn btn-primary btn-lg" %>
            </div>
          </div><!-- /row -->

          <br><br>

          <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
              <h2>Arena</h2>
              <h4>Choose your favourite characters and make them fight each other !</h4>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
              <%= link_to "Arena", arena_path, class: "btn btn-upgrade btn-lg" %>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div>
    </div>
  </div><!-- /main -->
</div><!-- /wrapper -->

