<%= tag(:div, class: "tab-pane", id: "delete-#{character.id}") %> <!-- div tab-pane (delete) -->
  <h5>Do you want to delete <%= character.name %> ?</h5>

  <form method="post" action="/delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="character[id]" value="<%= character.id %>">

    <input type="submit" value="Delete" class="btn btn-danger">
  </form>

</div><!-- /div tab-pane (delete) -->
