<% provide(:title, "Arena | ") %>
<% provide(:body_class, "profile-page") %>

<div class="wrapper">
  <div class="header header-filter"></div>

  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">

        <div class="row">
          <div class="profile">
            <div class="name">
              <h3 class="title">Arena</h3>
              <h6>Fights</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
