@import "bootstrap-sprockets";
@import "bootstrap";

// Home page
.header {
  background-image: url('arena.jpg')
}

// Characters page
.header h3 {
  text-align: center;
}

.card img {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.tab-pane form div {
  margin: auto;
}
