@import "bootstrap-sprockets";
@import "bootstrap";

// Home page
.header {
  background-image: image-url('arena.jpg');
}

// Characters page
.header h3 {
  text-align: center;
}

.card img {
  // max-width: 200px;
  height: 200px;
  margin: auto;
}

.tab-pane form div {
  margin: auto;
}

div.character {
  height: 600px;
}
