<nav class="navbar navbar-danger navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "CaptainChallenge", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Characters", characters_path %></li>
        <li><%= link_to "Arena", arena_path %></li>
      </ul>
    </div>
  </div> <!-- /container -->
</nav>
